body{
margin:0;
font-family:Arial;
background:#0c0c0c;
color:white;
scroll-behavior:smooth;
}



/* NAVBAR */

nav{
position:fixed;
width:100%;
background:#121212;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
border-bottom:1px solid #2a2a2a;
z-index:1000;
}

.logo{
font-weight:bold;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links li{
cursor:pointer;
opacity:.7;
}

.nav-links li:hover{
opacity:1;
}



/* SECTIONS */

section{
padding:140px 10%;
max-width:1100px;
margin:auto;
}



/* HERO */

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(
180deg,
#101010,
#0c0c0c
);
}

.hero h1{
font-size:56px;
}

.hero button{
margin-top:25px;
padding:12px 35px;
background:#3a3a3a;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
transition:.3s;
}

.hero button:hover{
background:#555;
transform:scale(1.05);
}



/* TABS */

.tabs{
margin-top:40px;
margin-bottom:30px;
}

.tab{
padding:12px 25px;
margin-right:10px;
background:#1a1a1a;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}

.tab.active{
background:#444;
}



/* PROJECT */

.project{
display:flex;
gap:40px;
margin-top:20px;
align-items:center;
}

.project img{
width:400px;
border-radius:8px;
}

.project-info{
max-width:500px;
}



/* PROJECT CARDS */

.project-card{
background:#161616;
padding:20px;
border-radius:10px;
border:1px solid #2c2c2c;
margin-bottom:20px;
}

.project-card img{
width:100%;
border-radius:6px;
margin-bottom:10px;
}



/* VIDEO */

.video{
margin-top:40px;
}



/* TAB CONTENT */

.tab-content{
display:none;
}

.tab-content.active{
display:block;
}



/* FADE ANIMATION */

.fade{
opacity:0;
transform:translateY(30px);
transition:all 1s;
}

.fade.visible{
opacity:1;
transform:translateY(0);
}



/* FOOTER */

footer{
text-align:center;
padding:50px;
opacity:.5;
}
